################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Interpreter/interpreter/bin/Debug
/Interpreter/interpreter/obj/Debug
*.suo
/LexicalAnalyzer/LA/LA/obj/Debug
/LexicalAnalyzer/LA/LA/bin/Debug
